/*
    layout.css
    
    For control every detail on layout, generally
    Convert from layout.less on http://less2css.org/
*/
/* 
    Created on : Mar 09, 2014, 7:14:00 AM
    Author     : Peace S.
*/
@font-face {
  font-family: AvenirNext;
  src: url('../content/font/AvenirNext/AvenirNext-UltraLight.otf');
}
@font-face {
  font-family: PrestigeElite_Bold;
  src: url('../content/font/PrestigeElite/PrestigeElite-Bold.otf');
}
@font-face {
  font-family: PrestigeElite;
  src: url('../content/font/PrestigeElite/PrestigeElite.otf');
}
@keyframes top_menuAnimation {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@-webkit-keyframes top_menuAnimation {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@keyframes navigationAnimation {
  from {
    top: -120px;
  }
  to {
    top: 25px;
  }
}
@-webkit-keyframes navigationAnimation {
  from {
    top: -120px;
  }
  to {
    top: 25px;
  }
}
@keyframes footerAnimation {
  from {
    height: 0;
  }
  to {
    height: 4%;
  }
}
@-webkit-keyframes footerAnimation {
  from {
    height: 0;
  }
  to {
    height: 4%;
  }
}
@keyframes contactDivAnimation {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
@-webkit-keyframes contactDivAnimation {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
.button {
  cursor: pointer;
  font-family: PrestigeElite;
  font-size: 1em;
  color: #ffffff;
  background-image: url('../content/image/button_1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fontAvenirNext {
  font-family: AvenirNext;
  font-size: 1em;
}
.contactDiv {
  color: #ffffff;
  background-color: #3e4042;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  width: 45%;
}
.hoverContact {
  color: #3e4042;
  background-color: #ffffff;
}
.hoverContact label {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: PrestigeElite_Bold;
  margin: 0;
}
body:before {
  content: url('../content/image/background/image_0.jpg') url('../content/image/background/image_1.jpg') url('../content/image/background/image_2.jpg') url('../content/image/background/image_3.jpg') url('../content/image/background/image_4.jpg') url('../content/image/background/image_5.jpg') url('../content/image/background/image_6.jpg') url('../content/image/background/image_7.jpg') url('../content/image/background/image_8.jpg') url('../content/image/background/image_9.jpg') url('../content/image/background/image_10.jpg') url('../content/image/background/image_11.jpg');
  display: none;
}
header {
  display: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}
ul {
  cursor: default;
  margin: 0px;
}
li {
  cursor: pointer;
  display: inline;
}
#start_menu {
  padding-top: 0.5%;
}
#start_menu label {
  display: none;
  cursor: pointer;
  background-image: url('../content/image/button_menu.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
  padding: 0.5% 3%;
  margin: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
#top_menu {
  position: fixed;
  right: 15px;
  top: 15px;
  text-align: right;
  height: 5px;
  font-size: 14px;
  z-index: 15;
}
#top_menu #current_directory {
  margin-right: 30px;
}
#top_menu #your_cart {
  color: #ffffff;
  background-image: url('../content/image/icon_1.png'), url('../content/image/button_1.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 15px 15px, 100% 100%;
  background-position: 7px 5px, 0px 0px;
  padding: 5px 10px;
  padding-left: 30px;
}
#top_menu.page_load {
  animation: top_menuAnimation 0.75s;
  -webkit-animation: top_menuAnimation 0.75s;
}
#navigation_bar {
  background: url('../content/image/navigation_bar_1.png') 0 26px repeat-x;
  height: 120px;
  width: 100%;
  text-align: left;
  font-size: 1em;
  margin: 0;
  padding-left: 50px;
  color: #696c6e;
  position: fixed;
  top: 25px;
  z-index: 10;
  /*    ul:last-child{
        background-image: url('../content/image/navigation_select_2.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain; 
        width: 420px;
        margin-left: 255px;
        padding: 20px 0px 10px;
        font-size: 0.85em;
        color: @color_w1;
        display: none;
        z-index: 3;
        li{
            margin-left: 20px;
            &:hover{ color: @color_b1; }
            &.findOn{ color: @color_b1; }
            &:first-child{ margin-left: 30px; }
        }
    }*/
}
#navigation_bar img {
  float: left;
}
#navigation_bar #logo_1 {
  position: absolute;
  top: 0;
  left: 50px;
}
#navigation_bar ul {
  z-index: 2;
  padding-top: 53px;
  margin-left: 4%;
}
#navigation_bar ul#main_menu {
  margin-bottom: 33px;
}
#navigation_bar ul#main_menu li {
  padding: 28px 2px 2px;
  margin: 0 30px;
}
#navigation_bar ul#main_menu li.select {
  color: #000000;
  border-bottom: 3px solid black;
}
#navigation_bar ul#main_menu li.shopMode {
  padding-bottom: 40px;
  background-image: url('../content/image/navigation_select_3.png');
  background-size: 100% 100%;
}
#navigation_bar.page_load {
  animation: navigationAnimation 1.75s;
  -webkit-animation: navigationAnimation 1.75s;
}
#background_1,
#background_2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#background_1 {
  background-color: #acaeb0;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}
#background_2 {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
#main {
  height: 70%;
  width: 75%;
  padding: 15% 0 5%;
  margin: 0 auto;
  display: none;
}
#main.paymentMode {
  width: 85%;
}
#main.shopMode {
  padding: 12% 0 0;
}
footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4%;
  padding-top: 1%;
  width: 100%;
  background-color: #ebedf0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  z-index: 100;
}
footer label {
  cursor: pointer;
  margin: 0 35px;
}
footer label.select {
  color: #000000;
  border-bottom: 3px solid black;
}
footer label#copyright {
  cursor: default;
}
footer img {
  cursor: pointer;
  float: right;
  width: 1.5%;
  margin-top: -0.25%;
  margin-right: 0.75%;
}
footer.page_load {
  animation: footerAnimation 0.75s;
  -webkit-animation: footerAnimation 0.75s;
}
#payment-navigation {
  background: url('../content/image/header_payment_1.png') no-repeat top left, url('../content/image/header_payment_2.png') no-repeat top right;
  background-size: contain, contain;
  height: 80.4px;
  position: relative;
  z-index: 2;
}
#payment-navigation ul {
  padding: 20px 0 18px;
  margin: 0 90px;
  background-color: #b9bbbd;
}
#payment-navigation li {
  padding: 0 6%;
}
#payment_page {
  font-size: 1em;
  background-color: #ffffff;
  margin: -24.6px 90px 0;
  padding: 40px 3% 50px;
}
div[id*='payment_'] {
  display: none;
  margin-bottom: 40px;
}
label[id*='payment_'] {
  cursor: pointer;
  font-family: PrestigeElite;
  font-size: 1em;
  color: #ffffff;
  background-image: url('../content/image/button_1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6px 2%;
}
#payment_next {
  float: right;
}
#payment_checkOut table {
  width: 100%;
}
#payment_checkOut table tr {
  height: 55px;
}
#payment_checkOut table td {
  padding: 1%;
}
#payment_checkOut table #image {
  width: 5%;
}
#payment_checkOut table #name {
  font-family: AvenirNext;
  font-size: 1em;
}
#payment_checkOut table #qty {
  width: 5%;
}
#payment_checkOut table #update {
  width: 15%;
}
#payment_checkOut table #price {
  width: 15%;
}
#payment_checkOut table #total {
  width: 15%;
}
#payment_checkOut table #remove {
  width: 15%;
}
#payment_checkOut table input {
  width: 35px;
  height: 25px;
}
#payment_checkOut table span {
  margin-right: 15px;
}
#payment_checkOut table label {
  cursor: pointer;
  font-family: PrestigeElite;
  font-size: 1em;
  color: #ffffff;
  background-image: url('../content/image/button_1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 10%;
}
#payment_checkOut table tr:last-child {
  vertical-align: bottom;
}
#payment_checkOut table tr:last-child td:first-child {
  font-family: AvenirNext;
  font-size: 1em;
}
#payment_shipping table {
  width: 80%;
  margin-bottom: 30px;
}
#payment_shipping table tr {
  height: 23px;
}
#payment_shipping table tr td:last-child {
  width: 50%;
  font-family: AvenirNext;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  color: #ff0000;
}
#payment_shipping table td {
  padding: 1%;
}
#payment_shipping table input,
#payment_shipping table textarea {
  width: 100%;
}
#payment_summary table {
  width: 100%;
}
#payment_summary table tr {
  height: 55px;
}
#payment_summary table td {
  padding: 1%;
}
#payment_summary table #image {
  width: 5%;
}
#payment_summary table #name {
  font-family: AvenirNext;
  font-size: 1em;
}
#payment_summary table #qty {
  width: 15%;
}
#payment_summary table #price {
  width: 25%;
}
#payment_summary table #total {
  width: 25%;
}
#payment_summary table #shipping_option span {
  margin-right: 40px;
}
#payment_summary table #shipping_option input {
  width: auto;
  height: auto;
  margin-left: 10px;
}
#payment_summary table input {
  width: 35px;
  height: 25px;
}
#payment_summary table span {
  margin-right: 15px;
}
#payment_summary table label {
  cursor: pointer;
  font-family: PrestigeElite;
  font-size: 1em;
  color: #ffffff;
  background-image: url('../content/image/button_1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 10%;
}
#payment_summary table tr:nth-last-child(2) {
  vertical-align: bottom;
}
#payment_summary table tr:nth-last-child(2) td:first-child {
  font-family: AvenirNext;
  font-size: 1em;
}
#payment_summary table tr:last-child {
  height: 30px;
}
#payment_summary table tr:last-child td:first-child {
  font-family: AvenirNext;
  font-size: 1em;
}
#payment_summary div {
  margin-top: 40px;
  width: 50%;
  border: 2px solid #b9bbbd;
}
#payment_summary div label {
  display: block;
  padding: 5px 0;
  padding-left: 10%;
  width: 90.5%;
  color: #ffffff;
  background-color: #b9bbbd;
}
#payment_summary div span {
  display: block;
  margin: 10px;
  word-wrap: break-word;
}
#payment_pay table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#payment_pay table tr {
  height: 55px;
  margin: 0;
}
#payment_pay table td {
  margin: 0;
  padding: 1%;
  border-top: 4px solid #b9bbbd;
  border-bottom: 4px solid #b9bbbd;
}
#payment_pay table td.menu:hover,
#payment_pay table td.selected {
  color: #ffffff;
  background-color: #b9bbbd;
  border-left: 2px solid #b9bbbd;
  border-right: 2px solid #b9bbbd;
}
#payment_pay table td.menu:hover {
  cursor: pointer;
}
#payment_pay table tr:last-child {
  font-family: AvenirNext;
  font-size: 1em;
  display: none;
  height: auto;
}
#payment_pay table tr:last-child td {
  border: 2px solid #b9bbbd;
}
#payment_pay article span {
  font-weight: bold;
}
#contact_main {
  color: #ffffff;
  background-color: #3e4042;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  width: 45%;
  font-size: 1em;
  height: 200px;
  padding: 5px 0;
}
#contact_main pre {
  display: block;
  margin-left: 40px;
}
#contact_main pre:first-child {
  font-size: 1em;
}
#contact_mail,
#contact_FAQ {
  color: #ffffff;
  background-color: #3e4042;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  width: 45%;
  float: left;
  font-size: 1em;
  padding: 10px 0;
}
#contact_mail label,
#contact_FAQ label {
  display: block;
  margin-left: 20px;
}
#contact_mail div,
#contact_FAQ div {
  display: none;
}
#contact_mail div.show,
#contact_FAQ div.show {
  animation: contactDivAnimation 2.5s;
  -webkit-animation: contactDivAnimation 2.5s;
  height: auto;
}
#contact_mail.unselect:hover,
#contact_FAQ.unselect:hover {
  color: #3e4042;
  background-color: #ffffff;
}
#contact_mail.unselect:hover label,
#contact_FAQ.unselect:hover label {
  cursor: pointer;
}
#contact_FAQ {
  float: right;
  height: 16px;
}
#contact_FAQ div.question {
  color: #ffffff;
  background-color: #3e4042;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  width: 45%;
  width: auto;
  margin-top: 2px;
  padding: 8px 0;
  display: block;
}
#contact_FAQ div.question div {
  font-family: AvenirNext;
  font-size: 1em;
  margin: 0 20px 10px;
}
#contact_FAQ div.question div span {
  display: block;
  margin: 15px 0;
}
#contact_FAQ div.question:first-child {
  margin-top: 10px;
}
#contact_FAQ div.question.unselect:hover {
  color: #3e4042;
  background-color: #ffffff;
}
#contact_FAQ div.question.unselect:hover label {
  cursor: pointer;
}
#contact_FAQ div.question.selected {
  color: #3e4042;
  background-color: #ffffff;
}
#contact_FAQ div.question.selected label {
  cursor: pointer;
}
#contact_FAQ.selected {
  color: #3e4042;
  background-color: #ffffff;
}
#contact_FAQ.selected label {
  cursor: pointer;
}
#contact_mail {
  margin-top: 20px;
  margin-bottom: 80px;
}
#contact_mail div.show {
  margin-left: 20px;
}
#contact_mail table {
  width: 80%;
  margin-top: 25px;
}
#contact_mail table tr {
  height: 35px;
}
#contact_mail table tr .label {
  width: 30%;
}
#contact_mail table tr input {
  width: 100%;
}
#contact_mail table tr textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}
#contact_mail table tr .error {
  color: #ff0000;
}
#contact_mail table tr:last-child td {
  vertical-align: bottom;
}
#contact_mail table tr:last-child td span {
  cursor: pointer;
  display: block;
  background-color: #ffffff;
  color: #3e4042;
  width: 65%;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 5px;
}
#products-grid img {
  width: 93%;
}
#products-grid a {
  color: #3e4042;
  text-decoration: none;
  text-transform: uppercase;
}
.category_name {
  width: 93%;
  padding: 5% 0;
  margin: 2% 0 10% 0;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #b9bbbd;
  background-color: #ffffff;
}
#product_view img {
  width: 93%;
  display: block;
  margin: 3%;
}
.product {
  position: relative;
}
.product_detail {
  width: 93%;
  bottom: 2%;
  display: none;
  position: absolute;
}
.product_detail a {
  color: #3e4042;
  float: right;
  text-decoration: none;
}
#contact_FAQ {
  float: right;
}
#contact_mail {
  margin-top: 20px;
}
.thumbnail img {
  margin-top: 20px;
  display: inline-block;
  max-width: 10%;
  max-height: 10%;
  width: auto;
  height: auto;
}
div.img-resize {
  width: 406px;
}
div.img-resize img {
  width: 406px;
  height: 406px;
}
/*set a border on the images to prevent shifting*/
#gallery_01 img {
  border: 2px solid white;
}
/*Change the colour*/
.active img {
  border: 2px solid #333 !important;
}
div#productImage {
  float: left;
  width: 406px;
  margin-bottom: 150px;
}
#productDetail {
  float: right;
  width: 300px;
  font-size: 1em;
}
#productDetail #product_name {
  font-size: 1em;
  height: 25px;
  width: 100%;
}
#productDetail #product_price {
  margin: 20px 0 15px;
}
#productDetail #product_detail {
  font-family: AvenirNext;
  font-size: 1em;
}
#productDetail #product_detail span {
  display: block;
  margin: 20px 0 10px;
  font-size: 1em;
  text-indent: 50px;
}
#product_buy,
#product_checkOut {
  float: right;
  margin-right: 25px;
  display: inline-block;
  background: #ffffff;
  padding: 5px 30px;
  border-color: #acaeb0;
  border-style: solid;
  border-width: 3px;
}
#product_buy:hover,
#product_checkOut:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #acaeb0;
}
#product_buy.clicked,
#product_checkOut.clicked {
  color: #ffffff;
  background-color: #acaeb0;
}
#product_checkOut {
  padding: 5px 50px;
}
.productImage {
  width: 406px;
  height: 406px;
}
.ui-dialog,
.ui-dialog,
.ui-widget,
.ui-widget-content,
.ui-corner-all,
.ui-draggable,
.ui-resizable {
  background: #666666 !important;
  opacity: 0.9;
  color: #FFFFFF !important;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.info_main {
  font-family: AvenirNext;
  font-size: 1em;
  width: 35%;
  min-height: 250px;
  color: #ffffff;
  background-color: #3e4042;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  padding: 35px;
  text-indent: 50px;
}
.policy_main {
  width: 100%;
}
a:-webkit-any-link {
  text-decoration: none;
}
#product_main {
  padding: 0 80px;
}
#zoomBox {
  margin-left: 450px;
  position: static;
}
#shop_menu {
  background: url('../content/image/shop_menu.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90%;
}
#shop_hover {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 50;
}
#shop_hover.pointer {
  cursor: pointer;
}
