/*
    layout.less
    
    For control every detail on layout, generally
*/
/* 
    Created on : Nov 19, 2013, 8:24:53 PM
    Author     : Peace S.
*/

@color_g1: #EBEDF0;
@color_g4: #3E4042;
@color_g5: #B9BBBD;
@color_white: #FFFFFF;
@color_r1: #FF0000;
@color_black: #000000;
@color_dark: #ABAEA6;
@color_light: #DDD9CB;

@img_shop-menu: url('../content/image/shop_menu.png');

@font-face{
    font-family: AvenirNext;
    src: url('../content/font/AvenirNext/AvenirNext-UltraLight.otf')
}
@font-face{
    font-family: AvenirNext_Bold;
    src: url('../content/font/AvenirNext/AvenirNext-Bold.otf')
}
@font-face{
    font-family: PrestigeElite_Bold;
    src: url('../content/font/PrestigeElite/PrestigeElite-Bold.otf')
}
@font-face{
    font-family: PrestigeElite;
    src: url('../content/font/PrestigeElite/PrestigeElite.otf')
}

@keyframes top_menuAnimation {
    from { top: -5px; }
    to { top: 15px; }
}
@-webkit-keyframes top_menuAnimation {
    from { top: -5px; }
    to { top: 15px; }
}
@keyframes navigationAnimation {
    from { top: -120px; }
    to { top: 25px; }
}
@-webkit-keyframes navigationAnimation {
    from { top: -120px; }
    to { top: 25px; }
}
@keyframes footerAnimation {
    from { height: 0; }
    to { height: 3%; }
}
@-webkit-keyframes footerAnimation {
    from { height: 0; }
    to { height: 3%; }
}
@keyframes contactDivAnimation {
    from { max-height: 0; }
    to { max-height: 500px; }
}
@-webkit-keyframes contactDivAnimation {
    from { max-height: 0; }
    to { max-height: 500px; }
}

a:visited{ color: @color_black; }

.button{
    cursor: pointer;
    font-family: PrestigeElite;
    font-size: 1em;
    color: @color_white;
    background-image: url('../content/image/button_payment-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fontAvenirNext{
    font-family: AvenirNext;
    font-size: 1em;
}
.contactDiv{
    color: @color_white;
    background-color: @color_dark;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    width: 45%;
}
.hoverContact{
    color: @color_dark;
    background-color: @color_light;
    label{ cursor: pointer; }
}
html{
    height: 100%;
    overflow-y: scroll;
}
body{
    height: 100%;
    font-family: PrestigeElite_Bold;
    margin: 0;
    //overflow: hidden;
    &:before{
        content: 
            url('../content/image/background/image_0.jpg')
            url('../content/image/background/image_1.jpg')
            url('../content/image/background/image_2.jpg')
            url('../content/image/background/image_3.jpg')
            url('../content/image/background/image_4.jpg')
            url('../content/image/background/image_5.jpg')
            url('../content/image/background/image_6.jpg')
            url('../content/image/background/image_7.jpg')
            url('../content/image/background/image_8.jpg')
            url('../content/image/background/image_9.jpg')
            url('../content/image/background/image_10.jpg')
            url('../content/image/background/image_11.jpg');
        display: none;
    }
}
header{
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
}
ul{ 
    cursor: default;
    margin: 0px;
}
li{
    cursor:pointer;
    display: inline;
}
#start_menu{
    padding-top: 0.5%;
    label{
        font-size: 1.2em;
        display: none;
        cursor: pointer;
        background-image: url('../content/image/button_menu.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        color: @color_white;
        padding: 0.5% 3%;
        margin: 0;
        opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
    }
}
#top_menu{
    position: fixed;
    right: 15px;
    top: 15px;
    text-align: right;
    height: 5px;
    font-size: 14px;
    z-index: 15;
    #current_directory{ margin-right: 30px; }
    #your_cart{
        color: @color_white;
        background-image: url('../content/image/icon_1.png'), url('../content/image/button_your-cart.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 13px 13px, 100% 100%;
        background-position: 9px 8px, 0px 0px;
        //background-size: 15px 15px, 100% 100%;
        //background-position: 7px 5px, 0px 0px;
        padding: 5px 10px;
        padding-left: 30px;
    }
    &.page_load{
        animation: top_menuAnimation 0.75s;
        -webkit-animation: top_menuAnimation 0.75s;
    }
}
#navigation_bar{
    background: url('../content/image/navigation_bar_1.png') 0 20px repeat-x;
    background-size: 17px 50px;
    height: 90px;
    width: 100%;
    text-align: left;
    font-size: 1em;
    margin: 0;
    padding-left: 50px;
    color: @color_dark;
    position: fixed;
    top: 25px;
    z-index: 10;
    img{
        height: 100%;
        cursor: pointer;
        float: left;
    }
    #logo_1{
        position: absolute;
        top: 0;
        left: 53px;
    }
    ul{ 
        z-index: 2;
        padding-top: 38px; 
        margin-left: 4%;
    }
    ul#main_menu{
        margin-bottom: 33px;
    }
    ul#main_menu li{ 
        padding: 28px 2px 2px;
        margin: 0 30px;

        &.select{ color: @color_light; }
        &.shopMode{
            padding-bottom: 40px;
            background-image: url('../content/image/navigation_select_3.png');
            background-size: 100% 100%;
        }
    }
    &.page_load{
        animation: navigationAnimation 1.75s;
        -webkit-animation: navigationAnimation 1.75s;
    }
}
#background_1, #background_2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#background_1{
    background-color: @color_light;
    background-size: cover;
    z-index:-1;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}
#background_2{
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-2;
}
#main{
    height: 70%;
    width: 75%;
    padding: 15% 0 5%;
    margin: 0 auto;
    display: none;
    &.paymentMode{ width: 85%; }
    &.shopMode{ padding: 12% 0 0; }
    &.homeMode{ padding-top: 9%; }
}
footer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.4%;
    padding-top: 0.3%;
    width: 100%;
    background-color: @color_g1;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    z-index: 100;
    label{ 
        cursor: pointer;
        margin: 0 35px;
        color: @color_dark;
        &.select{ color: @color_light; }
        &#copyright{ cursor: default; }
    }
    img{
        cursor: pointer;
        float: right;
        width: 1.5%;
        margin-right: 0.75%;
    }
    &.page_load{
        animation: footerAnimation 0.75s;
        -webkit-animation: footerAnimation 0.75s;
    }
}
#payment-navigation{
    font-size: 0.85em;
    background: 
        url('../content/image/header_payment_1.png') no-repeat top left,
        url('../content/image/header_payment_2.png') no-repeat top right;
    background-size: contain, contain;
    height: 66px;
    position: relative;
    z-index: 2;
    margin: 0 15px;
    ul{
        padding: 15px 0 15px;
        margin: 0 75px;
        background-color: @color_dark;
    }
    li{
        padding: 0 6%;
    }
}
#payment_page{
    font-size: 0.85em;
    background-color: @color_white;
    margin: -24.6px 90px 0;
    padding: 40px 3% 50px;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    hr{
        border: none;
        height: 3px;
        color: @color_dark;
        background-color: @color_dark;
    }
}
div[id*='payment_']{
    display:none;
    margin-bottom: 40px;
}
label[id*='payment_']{
    .button;
    padding: 6px 2%;
    background-image: url('../content/image/button_payment-3.png');
    &.firstPage{ background-image: url('../content/image/button_payment-2.png'); }
}
#payment_next{ float: right; }
#payment_checkOut{
    table{
        width: 100%;
        tr{ height: 55px; }
        td{ padding: 1%; }
        #image{ width: 5%; }
        #name{
            .fontAvenirNext;
        }
        #qty{ width: 5%; }
        #update{ width: 15%; }
        #price{ width: 15%; }
        #total{ width: 15%; }
        #remove{ width: 15%; }
        input{
            width: 35px;
            height: 25px;
        }
        span{
            .fontAvenirNext;
            margin-right: 15px;
        }
        label{
            .button;
            padding: 5% 10%;
        }
        tr:last-child{ vertical-align: bottom; }
    }
}
#payment_shipping{
    table{
        color: @color_dark;
        width: 80%;
        margin-bottom: 30px;
        tr{
            height: 23px;
            td:last-child{
                width: 50%;
                .fontAvenirNext;
                font-size: 1em;
                font-weight: bold;
                font-style: italic;
                color: @color_r1;
            }
        }
        td{ padding: 1%; }
        input,textarea{ width: 100%; }
    }
}
#payment_summary{
    table{
        width: 100%;
        tr{ height: 55px; }
        td{ padding: 1%; }
        #qty_head{ text-align: center; }
        #image{ width: 5%; }
        #name{
            .fontAvenirNext;
        }
        #qty{
            text-align: center;
            width: 15%;
        }
        #price{ width: 25%; }
        #total{ width: 25%; }
        #shipping_option{
            span{ margin-right: 40px; }
            input{
                width: auto;
                height: auto;
                margin-left: 10px;
            }
        }
        input{
            width: 35px;
            height: 25px;
            margin-right: 10px;
        }
        span{ margin-right: 15px; }
        label{
            .button;
            padding: 5% 10%;
        }
        tr:nth-last-child(2){
            vertical-align: bottom;
            td:first-child{
                .fontAvenirNext;
            }
        }
        tr:last-child{
            height: 30px;
            td:first-child{
                .fontAvenirNext;
            }
        }
    }
    div{
        margin-top: 40px;
        width: 50%;
        label{
            display: block;
            padding: 5px 0;
            padding-left: 10%;
            width: 90.5%;
            color: @color_white;
            background-color: @color_g5;
        }
        span{
            display: block;
            margin: 10px;
            word-wrap: break-word;
        }
        
        border: 2px solid @color_g5;
    }
}
#payment_pay{
    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        tr{
            height: 45px;
            margin: 0;
        }
        td{
            margin: 0;
            padding: 1%;
            border-top: 2px solid @color_dark;
            border-bottom: 2px solid @color_dark;
            &.menu:hover,&.selected{
                color: @color_white;
                background-color: @color_dark;
                border-left: 2px solid @color_dark;
                border-right: 2px solid @color_dark;
            }
            &.menu:hover{ cursor: pointer; }
        }
        tr:last-child{
            .fontAvenirNext;
            display: none;
            height: auto;
            td{ border: 2px solid @color_g5; }
        }
    }

    article{
        span{ font-weight: bold; }
    }
}
#contact_main{
    .contactDiv;
    .fontAvenirNext;
    height: 200px;
    padding: 10px 0;
    pre{
        display: block;
        margin-left: 40px;
    }
}
#contact_mail, #contact_FAQ{
    .contactDiv;
    float: left;
    font-size: 1em;
    padding: 10px 0;
    label{
        display: block;
        margin-left: 20px;
    }
    div{ display: none; }
    div.show{
        animation: contactDivAnimation 2.5s;
        -webkit-animation: contactDivAnimation 2.5s;
        height: auto;
    }
    &.unselect:hover{ .hoverContact; }
}
#contact_FAQ{
    float: right;
    height: 16px;
    div.question{
        .contactDiv;
        width: auto;
        margin-top: 2px;
        padding: 8px 0;
        display: block;
        div{
            .fontAvenirNext;
            margin: 0 20px 10px;
            span{
                display: block;
                margin: 15px 0;
            }
        }
        &:first-child{ margin-top: 10px; }
        &.unselect:hover{ .hoverContact; }
        &.selected{ .hoverContact; }
    }
    &.selected{ .hoverContact; }
}

#contact_mail{
    margin-top: 20px;
    margin-bottom: 80px;
    div.show{ margin-left: 20px; }
    table{
        width: 80%;
        margin-top: 25px;
        tr{
            height: 35px;
            .label{ width: 30%; }
            input{ width: 100%; }
            textarea{
                width: 100%;
                height: 150px;
                margin-top: 10px;
            }
            .error{ color: @color_r1; }
        }
        tr:last-child td{
            vertical-align: bottom;
            span{
                cursor: pointer;
                display: block;
                background-color: @color_white;
                color: @color_g4;
                width: 65%;
                padding: 5px 0;
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
}
#products-grid{
    img {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
    }
    td {
        padding: 1%;
        width: 300px;
        height: 200px;
    }
    a{
        color: @color_g4;
        text-decoration: none;
        text-transform: uppercase;
    }
}
.category_name{
    width: 93%;
    padding: 5% 0;
    margin: 2% 0 10% 0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: @color_g5;
    background-color: @color_white;
}
.product{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: @color_white;
    .product_detail{
        width: 93%;
        bottom: 2%;
        display: none;
        position: absolute;
        color: @color_dark;
        font-size: 1em;
    }
}

#contact_FAQ{ float: right; }
#contact_mail{ margin-top: 20px; }


.thumbnail img {
    margin-top:20px;
    display: inline-block;
    max-width:10%;
    max-height:10%;
    width: auto;
    height: auto;
}

div.img-resize{
    width: 406px;
}
div.img-resize img{
    width: 406px;
    height: 406px;
}
  
/*set a border on the images to prevent shifting*/
 #gallery_01 img{border:2px solid white;}
 
 /*Change the colour*/
 .active img{border:2px solid #333 !important;}
 
 div#productImage{
     float: left;
     width: 406px;
     margin-bottom: 150px;
     .thumbnail a{
         margin-right: 15px;
     }
 }
 #productDetail{
     float: right;
     width: 300px;
     font-size: 1em;
     #product_name{
         font-size: 1em;
         min-height: 25px;
         width: 100%;
     }
     #product_price{
         margin: 20px 0 15px;
     }
    #product_detail{
        .fontAvenirNext;
        span{
            display: block;
            margin: 20px 0 10px;
            font-size: 1em;
            //text-indent: 50px;
        }
     }
 }
 #product_buy, #product_checkOut{
     float: right;
     margin-right: 25px;
     display: inline-block;
     background-image: url('../content/image/button_buy.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding: 5px 30px;
     &:hover{
        cursor: pointer;
        color: @color_white;
        background-image: url('../content/image/button_buy-a.png');
     }
     &.clicked{
        color: @color_white;
        background-image: url('../content/image/button_buy-a.png');
     }
 }
 #product_checkOut{
     padding: 5px 50px;
     background-image: url('../content/image/button_check-out.png');
     &:hover{ background-image: url('../content/image/button_check-out-a.png'); }
     &.clicked{ background-image: url('../content/image/button_check-out-a.png'); }
 }
 .productImage{
     width: 406px;
     height: 406px;
 }
 
 .ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .ui-draggable, .ui-resizable {
     background:#666666 !important;
     opacity: 0.9;
     color: #FFFFFF !important;
 }
 .no-close .ui-dialog-titlebar-close {display: none;}

.info_main{
    .fontAvenirNext;
    font-size: 0.75em;
    width: 35%;
    min-height: 250px;
    color: @color_white;
    background-color: @color_dark;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    padding: 35px;
    //text-indent: 50px;
}
.policy_main{
    width: 100%;
}

a:-webkit-any-link{ text-decoration: none; }

#product_main{
    padding: 0 80px;
}
#zoomBox{
    margin-left: 450px;
    position: static;
}

#shop_menu{
    background: @img_shop-menu;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90%;
}
#shop_hover{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 50;
    &.pointer{ cursor: pointer; }
}
#popup{
    position: fixed;
    left: 37.5%;
    top: 37.5%;
    width: 20%;
    height: 20%;
    padding: 2.5%;
    color: @color_white;
    background: @color_dark;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    display: none;
}
#popup_buy{ font-family: PrestigeElite_Bold; }
.home_main{
    box-shadow: 5px 5px 5px @color_g5;
    width: 70%;
    height: 100%;
    margin: 0 15%;
    padding-top: 3%;
    &.white{ background-color: @color_white; }
    &.transparent{ background-image: url('../content/image/background/white40.png'); }
    div{ display: none; }
    #home_info{
        position: absolute;
        width: 52.5%;
        display: block;
        font-family: AvenirNext;
        font-size: 1.15em;
        font-weight: bold;
        color: @color_dark;
        padding-top: 7%;
        p{
            text-align: center;
            margin-bottom: 13px;
        }
    }
    .home_gallery{
        position: absolute;
        width: 52.5%;
        height: 65%;
        margin: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        &#home_product1{ background-image: url('../content/image/home/home_1.jpg'); }
        &#home_product2{ background-image: url('../content/image/home/home_2.jpg'); }
        &#home_product3{ background-image: url('../content/image/home/home_3.jpg'); }
        &#home_product4{ background-image: url('../content/image/home/home_4.jpg'); }
        &#home_product5{ background-image: url('../content/image/home/home_5.jpg'); }
        &#home_product6{ background-image: url('../content/image/home/home_6.jpg'); }
    }
    #home_ribbon{
        display: block;
        position: absolute;
        width: 15%;
        height: 15%;
        left: 42.5%;
        bottom: 8%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        &.home_ribbon0{
            background-image: url('../content/image/home/ribbon_0.png');
            background-position: top center;
        }
        &.home_ribbon1{ background-image: url('../content/image/home/ribbon_1.png'); }
        &.home_ribbon2{ background-image: url('../content/image/home/ribbon_2.png'); }
        &.home_ribbon3{ background-image: url('../content/image/home/ribbon_3.png'); }
        &.home_ribbon4{ background-image: url('../content/image/home/ribbon_4.png'); }
        &.home_ribbon5{ background-image: url('../content/image/home/ribbon_5.png'); }
        &.home_ribbon6{ background-image: url('../content/image/home/ribbon_6.png'); }
    }
}
.arrow{
    cursor: pointer;
    display: none;
    position: fixed;
    top: 45%;
    width: 5%;
    height: 20%;
}
#arrow_right{ right: 2%; }
#arrow_left{ left: 2%; }