/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2014, 9:14:44 PM
    Author     : Kongrath
*/

#ob-sidebar-wrapper {
    //background: url("../content/order-builder/sidebar-border.png") repeat-y scroll 200px 0 #F0F0F0;
    opacity: 1;
    position: fixed;
    top: 150px;
    padding-bottom: 100px;
    width: 256px;
    z-index: 5;
    left: 0;
    overflow: hidden;
}
#ob-sidebar-wrapper.fixed {
    position: fixed;
}
#ob-sidebar-wrapper::-webkit-scrollbar {
    width:0;
}
#ob-sidebar {
    color: #2C2C2C;
    padding-right: 6px;
    text-align: center;
    width: 250px;
    overflow: hidden;
}
#ob-sidebar ul{ padding-left: 0px; }
#ob-sidebar ul li{ display: block; }

/*#sidebar-button {
    background: url("../content/order-builder/bg_sidebar-buttons.png") no-repeat scroll -24px 0 transparent;
    cursor: pointer;
    height: 95px;
    left: 200px;
    position: absolute;
    top: 120px;
    width: 24px;
}*/

.collapsed #sidebar-button {
    //background-position: 0 0;
}
#sort-by-featured {
    border-bottom: 1px solid #D1D1D1;
    color: #464646;
    display: block;
    height: 50px;
    line-height: 50px;
}
.filters {
    background: url("../content/image/shop_option.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    color: #FFFFFF;
    text-align: left;
    width: 180px;
}
.filters-top {
    cursor: pointer;
    font-weight: 700;
    line-height: 40px;
    position: relative;
    top: -4px;
}
.filters-top a{
    margin-top: 2px;
    margin-left: 15px;
    font-family: PrestigeElite;
    font-size: 1em;
}
.filter-button {
    cursor: pointer;
    height: 100px;
    opacity: 0.4;
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
    color: #FFFFFF;
    opacity: 1;
}
.expanded .filter-button {
    background-position: -16px 0;
}
.collapsed .filter-button {
    background-position: 0 0;
}
.filters-bottom {
    display: block;
    margin-bottom: 20px;
    font-family: AvenirNext;
    font-size: 0.9em;
    font-weight: bold;
}
.filters-row {
    padding: 7px 15px 7px 25px;
}
.filters-row.active{
    color: #ABAEA6;
}
.filters-row.filter:hover{
    color: #ABAEA6;
}
/**
*  Content container, as opposed to sidebar
*/
  
#main-content{
  position: absolute;
  margin-right: 50px;
  padding-bottom: 100px;
  top: 145px;
  left: 20%;
}
.categories a {
    color: #2C2C2C;
}
li {
    list-style: none outside none;
}
