/*
    layout.less
    
    For control every detail on layout, generally
*/
/* 
    Created on : Nov 19, 2013, 8:24:53 PM
    Author     : Peace S.
*/

@color_c1: #DED9CC;
@color_c2: #AEAA95;
@color_g1: #EBEDF0;
@color_g2: #ACAEB0;
@color_g3: #696C6E;
@color_g4: #3E4042;

@font-face{
    font-family: AvenirNext;
    src: url('../content/font/AvenirNext/Avenir Next.ttc')
}
@font-face{
    font-family: PrestigeElite_Bold;
    src: url('../content/font/PrestigeElite/PrestigeElite-Bold.otf')
}
@font-face{
    font-family: PrestigeElite_BoldSlanted;
    src: url('../content/font/PrestigeElite/PrestigeElite-BoldSlanted.otf')
}
@font-face{
    font-family: PrestigeElite_Slanted;
    src: url('../content/font/PrestigeElite/PrestigeElite-Slanted.otf')
}
@font-face{
    font-family: PrestigeElite;
    src: url('../content/font/PrestigeElite/PrestigeElite.otf')
}

header{
    margin: 0 auto;
    text-align: center;
    font-family: PrestigeElite_Bold;
    font-size: 1em;
    label{ cursor:pointer; }
}
ul{ margin: 0px; }
li{
    cursor:pointer;
    display: inline;
}
#top_menu{
    text-align: right;
    height: 5px;
    font-size: 0.8em;
    #current_directory{ margin-right: 30px; }
}
#navigation_bar{
    text-align: left;
    margin-bottom: 6em;
    padding-left: 3em;
    img{ float: left; }
    ul{ padding-top: 55px; background: red; }
    li{ padding-left: 50px; }
}
#background_1, #background_2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#main{
    width: 55em;
    margin: 0 auto;
    
    border: 2px dotted black;
}
footer{
    font-family: PrestigeElite_Bold;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2em;
    padding-top: 1em;
    width: 100%;
    background-color: @color_g1;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    label{ 
        cursor: pointer;
        padding: 0 2em;
    }
    img{
        cursor: pointer;
        float: right;
    }
}

#payment_navigation li{
    width: 10em;
    padding-right: 5em;
}