/*
    layout.less
    
    For control every detail on layout, generally
*/
/* 
    Created on : Nov 19, 2013, 8:24:53 PM
    Author     : Pentor
*/

@font-face{
    font-family: AvenirNext;
    src: url('../content/font/AvenirNext/Avenir Next.ttc')
}
@font-face{
    font-family: PrestigeElite_Bold;
    src: url('../content/font/PrestigeElite/PrestigeElite-Bold.otf')
}
@font-face{
    font-family: PrestigeElite_BoldSlanted;
    src: url('../content/font/PrestigeElite/PrestigeElite-BoldSlanted.otf')
}
@font-face{
    font-family: PrestigeElite_Slanted;
    src: url('../content/font/PrestigeElite/PrestigeElite-Slanted.otf')
}
@font-face{
    font-family: PrestigeElite;
    src: url('../content/font/PrestigeElite/PrestigeElite.otf')
}

header{
    margin: 0 auto;
    text-align: center;
    font-family: PrestigeElite_Bold;
    font-size: 1em;
    
    border: 2px dotted black;
}
#top_menu{
    text-align: right;
    #current_directory{ margin-right: 30px; }
}
#navigation_bar{
    text-align: left;
    margin-bottom: 6em;
    img{ 
        float: left;
        width: 70px;
        height: 70px;
    }
    li{
        display: inline;
        padding-left: 50px;
    }
}
#background_1, #background_2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#main{
    width: 55em;
    margin: 0 auto;
    
    border: 2px dotted black;
}
footer{
    position: fixed;
    bottom: 0em;
    height: 1.5em;
    width: 100%;
    label{
        padding-right: 50px;
    }
    img{
        float: right;
    }
    border: 2px dotted black;
}